@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap");

:root {
  font-size: 10px;
}

* {
  box-shadow: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  padding-top: 4rem;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.accordion + .accordion,
.accordion .accordion {
  margin-top: 10px;
}
.accordion__header {
  padding: 2rem 1rem;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: .30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #B80C09;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
}
.accordion__text {
  padding: 1rem;
  line-height: 1.4;
  font-weight: 400;
}


/* HORIZONTAL */
.accordion--horizontal {
  display: flex;
}
.accordion--horizontal .accordion__header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

*[data-x-accordion="body"] {
  -webkit-transition: height, width 0.7s cubic-bezier(0.42, 0.2, 0.08, 1);
  transition: height, width 0.7s cubic-bezier(0.42, 0.2, 0.08, 1);
}

*[data-x-accordion="body"] {
  height: 0;
  overflow: hidden;
}

.accordion--horizontal *[data-x-accordion="body"] {
  height: auto;
  width: 0;
}
